#colorjumbo
{
    background: linear-gradient(to right, deeppink, darkviolet);
}
#option1
{
    background: linear-gradient(to bottom, grey, darkgrey);
    border-radius: 20px;
}
#option2
{
    background: linear-gradient(to bottom, darkgrey, grey);
    border-radius: 20px;
}

#back
{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../img/home.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}